name: Logging Tests

on:
  workflow_call:
    inputs:
      repository_name:
        description: 'Repository with Logging service'
        required: false
        type: string
        default: 'Netcracker/qubership-logging-operator'
      service_branch:
        description: 'Branch of qubership-logging-operator repository'
        required: false
        type: string
      versions_file:
        description: 'Path to versions list file'
        type: string
        required: true
      pipeline_branch:
        description: 'Test pipeline branch name'
        type: string
        required: true
      runner_type:
        description: 'Runner type (self-hosted or ubuntu-latest)'
        type: string
        required: false
        default: 'ubuntu-latest'
      opensearch_version:
        type: string
        required: true
        default: 'release-2025.2-1.14.4'
      kind-layout:
        description: 'Kind cluster layout (single-node or multi-node)'
        type: string
        required: false
        default: 'single-node'

jobs:
  prepare:
    runs-on: ${{ inputs.runner_type }}
    outputs:
      versions: ${{ steps.process-versions.outputs.versions }}
      previous_version: ${{ steps.process-versions.outputs.previous_version }}
      matrix: ${{ steps.process-versions.outputs.matrix }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: '${{ inputs.service_branch }}'
          repository: '${{ inputs.repository_name }}'
          path: 'qubership-logging-operator'

      - name: Checkout pipeline
        uses: actions/checkout@v5
        with:
          ref: '${{ inputs.pipeline_branch }}'
          repository: '${{ github.repository_owner }}/qubership-test-pipelines'
          path: 'qubership-test-pipelines'

      - name: Process versions file and matrix generation
        id: process-versions
        working-directory: "${{ github.workspace }}/qubership-test-pipelines"
        run: |
          chmod +x ./scripts/matrix.sh
          ./scripts/matrix.sh ${{ github.workspace }}/qubership-logging-operator/${{ inputs.versions_file }} ./workflow-config/logging.yaml "${{ inputs.service_branch }}"

  Logging-Test-Cases:
    needs: prepare
    runs-on: ${{ inputs.runner_type }}
    strategy:
      fail-fast: false
      matrix:
        test: ${{ fromJson(needs.prepare.outputs.matrix) }}
    name: ${{ matrix.test.name }}
    env:
      path_to_chart: 'charts/qubership-logging-operator'
      test_completion_max_retries: 100
      test_completion_retry_interval: '5s'
      service_ready_max_retries: 100
      service_ready_retry_interval: '5s'
    steps:
      # == 01 Start ======= Common pre-steps for all tests =======
      - name: "Print job parameters"
        run: |
          echo "======== Job parameters ======="
          echo "${{ toJson(matrix.test) }}"

      - name: Checkout pipeline
        uses: actions/checkout@v5
        with:
          ref: '${{ inputs.pipeline_branch }}'
          repository: '${{ github.repository_owner }}/qubership-test-pipelines'
          path: 'qubership-test-pipelines'

      - name: Create cluster
        uses: ./qubership-test-pipelines/actions/shared/create_cluster
        with:
          kind-layout: '${{ inputs.kind-layout }}'

      - name: Install cert-manager
        uses: ./qubership-test-pipelines/actions/shared/install_cert_manager
        with:
          namespace: 'cert-manager'
          version: 'v1.16.3'
          create_entities: 'true'

      - name: Install Opensearch
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          path_to_template: 'templates/opensearch-service/opensearch_clean_basic_for_logging.yml'
          service_branch: '${{ inputs.opensearch_version }}'
          service_name: 'opensearch'
          repository_name: 'Netcracker/qubership-opensearch'
          path_to_chart: 'charts/helm/opensearch-service'
          namespace: 'opensearch'
          restricted: 'false'

      - name: Get Installed Opensearch CR name
        uses: ./qubership-test-pipelines/actions/shared/get_crds
        id: install_opensearch_get_crds
        with:
          crd_location: '${{ inputs.repository_name}}/${{ env.path_to_chart}}/crds'

      - name: Check opensearch deployment status
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          service_branch: '${{ inputs.opensearch_version }}'

      - name: Create audit directory required for fluentbit
        shell: bash
        run: |
          set -euo pipefail
          for node in $(docker ps --format '{{.Names}}' | grep '^kind-' | grep -v 'external-load-balancer'); do
            echo "Creating the folder on the $node node"
            docker exec "$node" bash -c "mkdir -p /var/log/audit && chown 1000:1000 /var/log/audit && echo 'Created /var/log/audit with the permissions:' && ls -ld /var/log/audit" 
          done

      - name: Install required monitoring CRDs
        shell: bash
        run: |
            kubectl apply -f https://raw.githubusercontent.com/Netcracker/qubership-monitoring-operator/refs/tags/0.81.0/charts/qubership-monitoring-operator/charts/grafana-operator/crds/integreatly.org_grafanadashboards.yaml
            kubectl apply -f https://raw.githubusercontent.com/Netcracker/qubership-monitoring-operator/refs/tags/0.81.0/charts/qubership-monitoring-operator/charts/victoriametrics-operator/crds/monitoring.coreos.com_prometheusrules.yaml
            kubectl apply -f https://raw.githubusercontent.com/Netcracker/qubership-monitoring-operator/refs/tags/0.81.0/charts/qubership-monitoring-operator/charts/victoriametrics-operator/crds/monitoring.coreos.com_servicemonitors.yaml
            kubectl apply -f https://raw.githubusercontent.com/Netcracker/qubership-monitoring-operator/refs/tags/0.81.0/charts/qubership-monitoring-operator/charts/victoriametrics-operator/crds/monitoring.coreos.com_podmonitors.yaml

      # == 01 End ======= Common pre-steps for all tests =======

      # == 02 Start ======= Installation steps =======
      - name: Install logging-operator [${{ matrix.test.install_version }}]
        uses: ./qubership-test-pipelines/actions/shared/helm_deploy
        with:
          path_to_template: '${{ matrix.test.template }}'
          service_branch: '${{ matrix.test.install_version }}'
          service_name: 'logging'
          repository_name: '${{ inputs.repository_name }}'
          path_to_chart: 'charts/qubership-logging-operator'
          namespace: 'logging'
          restricted: '${{ matrix.test.restricted }}'

      - name: Get Installed Logging CR name
        uses: ./qubership-test-pipelines/actions/shared/get_crds
        id: install_logging_get_crds
        with:
          crd_location: '${{ inputs.repository_name}}/${{ env.path_to_chart}}/crds'

      - name: Verify Logging installation
        uses: ./qubership-test-pipelines/actions/shared/verify_installation
        with:
          namespace: 'logging'
          service_branch: '${{ matrix.test.install_version }}'
          service_ready_max_retries: ${{ env.service_ready_max_retries }}
          service_ready_retry_interval: ${{ env.service_ready_retry_interval }}
          test_completion_max_retries: ${{ env.test_completion_max_retries }}
          test_completion_retry_interval: ${{ env.test_completion_retry_interval }}
          crd_list: ${{ steps.install_logging_get_crds.outputs.crd_names }}
          check_tests: 'true'
          artifact_name: 'Installation_${{ matrix.test.artifact_name }}'
          monitoring_pipeline: 'false'
          repository_name: '${{ inputs.repository_name }}'
      # == 02 End ======= Installation steps =======